
.menu {
    list-style: none;
    clear: both;
}

.menu li {
    float: left;
    text-align: center;
    margin: 5px;
}

.menu li img {
    height: 200px;
}

.menu li img:hover {
    cursor: pointer;
}

.calculator {
    clear: both;
    display: none;
}

.calculation-result #select-figure #selected-figure {
    font-size: 20px;
}


