.menu {
    list-style: none;
    clear: both;
}

.menu li {
    float: left;
    text-align: center;
}

.menu li img {
    height: 200px;
}

.calculator{
    clear: both;
    display: none;
}

.content, header{
    width:50%;
    background: lightgrey;
    margin: auto;
    padding: 20px;
}
.content{
    min-height: 500px;
}

