/* Global styles */
body, p, li, button {
    font-family: "Arial", sans-serif;
    color: #333333;
}

input, button {
    font-size: 18px;
    padding: 6px;
    margin: 4px;
    border: 3px solid #9cc1cf;
    background-color: #effaff;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-size: 50px;
}

h2 {
    text-transform: capitalize;
}

/* default styles */

.menu {
    list-style: none;
    clear: both;
}

.menu li {
    float: left;
    text-align: center;
    margin: 5px;
}

.menu li img {
    height: 200px;
}

.menu li img:hover {
    cursor: pointer;
}

.calculator{
    clear: both;
    display: none;
}

.content, header{
    width: 70%;
    background: #f4f4f4;
    margin: auto;
    padding: 20px;
}
.content{
    min-height: 500px;
}
.calculation-result #select-figure #selected-figure{
font-size: 20px;
}


